<body>
    <iframe name="spreadsheet" id="spreadsheet" width="100%" height="400px"  object-fit="cover" overflow="hidden" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRrfK3OyISTzZpz8bRzIKhVsblzSQum1CdAoRg8VydXBfOUFPyQY7RJmjEP-jb5240FYRU-8cmTDtp8/pubhtml?widget=false&amp;headers=false&chrome=false"></iframe>
    <div id="terminal"></div>
    <button onclick="window.location.reload()">Refresh</button>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Welcome to Tournament Brackets\nCreate and Manage your tournaments from the web\n');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>